In [1]:
#Importamos librerías 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import math
import datetime

In [2]:
#Leemos el primer archivo con los datos meteorológicos
df1 = pd.DataFrame( pd.read_csv("meteo-vid-2018.csv", engine="python" ) )
df1.head()

,Date,Time,batt_volt_Min,logger_temp,short_up_Avg,short_dn_Avg,long_up_Avg,long_dn_Avg,cnr4_T_C_Avg,cnr4_T_K_Avg,...,H. suelo 60,Result2_Avg,T. suelo 60 cm,Result4_Avg,Result5_Avg,Result6_Avg,Result7_Avg,Result8_Avg,Result9_Avg,Riego
0,06/01/2018,17:00:00,12.39,28.43,36.15,7.23,-47.65,-13.43,27.69,300.84,...,0.23,0.04,24.33,75.80,0.04,14.16,13.37,14.46,13.46,0.0
1,06/01/2018,17:30:00,12.27,27.38,22.42,4.48,-56.17,-15.24,26.63,299.78,...,0.23,0.04,21.95,71.54,0.04,14.10,13.23,14.32,13.81,0.0
2,06/01/2018,18:00:00,12.22,26.30,1.41,0.28,-52.09,-15.60,24.90,298.05,...,0.23,0.04,21.34,70.38,0.04,14.31,13.12,14.51,13.84,0.0
3,06/01/2018,18:30:00,12.19,25.04,-2.77,-0.55,-51.42,-14.43,23.31,296.46,...,0.23,0.04,21.12,70.02,0.04,14.38,13.18,14.58,13.94,0.0
4,06/01/2018,19:00:00,12.17,23.92,-2.48,-0.50,-50.24,-13.61,22.48,295.63,...,0.24,0.04,21.10,70.00,0.04,14.41,13.32,14.60,14.11,0.0

In [3]:
df1.dtypes

Date                 object
Time                 object
batt_volt_Min       float64
logger_temp         float64
short_up_Avg        float64
short_dn_Avg        float64
long_up_Avg         float64
long_dn_Avg         float64
cnr4_T_C_Avg        float64
cnr4_T_K_Avg        float64
long_up_corr_Avg    float64
long_dn_corr_Avg    float64
Rs_net_Avg          float64
Rl_net_Avg          float64
albedo_Avg           object
Rn_Avg              float64
AirTC_Avg           float64
RH                  float64
WS_ms_S_WVT         float64
WindDir_D1_WVT      float64
WindDir_SD1_WVT     float64
Temp_C_Avg(1)       float64
Temp_C_Avg(2)       float64
Temp_C_Avg(3)       float64
Temp_C_Avg(4)        object
H. suelo 60         float64
Result2_Avg         float64
T. suelo 60 cm      float64
Result4_Avg         float64
Result5_Avg         float64
Result6_Avg         float64
Result7_Avg         float64
Result8_Avg         float64
Result9_Avg         float64
Riego               float64
dtype: object

In [4]:
#Revisamos cuántos datos nulos hay por columna
df1.isna().sum()

Date                1016
Time                1016
batt_volt_Min       1016
logger_temp         1016
short_up_Avg        1016
short_dn_Avg        1016
long_up_Avg         1016
long_dn_Avg         1016
cnr4_T_C_Avg        1016
cnr4_T_K_Avg        1016
long_up_corr_Avg    1016
long_dn_corr_Avg    1016
Rs_net_Avg          1016
Rl_net_Avg          1016
albedo_Avg          1016
Rn_Avg              1016
AirTC_Avg           1016
RH                  1016
WS_ms_S_WVT         1016
WindDir_D1_WVT      1403
WindDir_SD1_WVT     1019
Temp_C_Avg(1)       1016
Temp_C_Avg(2)       1016
Temp_C_Avg(3)       1016
Temp_C_Avg(4)       1016
H. suelo 60         1016
Result2_Avg         1016
T. suelo 60 cm      1016
Result4_Avg         1016
Result5_Avg         1016
Result6_Avg         1016
Result7_Avg         1016
Result8_Avg         1016
Result9_Avg         1016
Riego               1016
dtype: int64

In [5]:
#Creamos la variable FECHAN a partir de DATE y TIME. Desechamos dichas columnas.
df1["FECHAN"] = df1["Date"] +" "+ df1["Time"]
df1.drop( ["Date","Time"], axis=1, inplace=True )

In [6]:
#Convertimos la variable FECHAN a la variable FECHA de tipo datetime
df1['FECHA'] = pd.to_datetime(df1.apply(lambda x: x['FECHAN'], 1), dayfirst=True)
df1 = df1.drop(['FECHAN'], 1)
df1.head()

,batt_volt_Min,logger_temp,short_up_Avg,short_dn_Avg,long_up_Avg,long_dn_Avg,cnr4_T_C_Avg,cnr4_T_K_Avg,long_up_corr_Avg,long_dn_corr_Avg,...,Result2_Avg,T. suelo 60 cm,Result4_Avg,Result5_Avg,Result6_Avg,Result7_Avg,Result8_Avg,Result9_Avg,Riego,FECHA
0,12.39,28.43,36.15,7.23,-47.65,-13.43,27.69,300.84,416.77,451.00,...,0.04,24.33,75.80,0.04,14.16,13.37,14.46,13.46,0.0,2018-01-06 17:00:00
1,12.27,27.38,22.42,4.48,-56.17,-15.24,26.63,299.78,401.77,442.70,...,0.04,21.95,71.54,0.04,14.10,13.23,14.32,13.81,0.0,2018-01-06 17:30:00
2,12.22,26.30,1.41,0.28,-52.09,-15.60,24.90,298.05,395.37,431.87,...,0.04,21.34,70.38,0.04,14.31,13.12,14.51,13.84,0.0,2018-01-06 18:00:00
3,12.19,25.04,-2.77,-0.55,-51.42,-14.43,23.31,296.46,386.56,423.54,...,0.04,21.12,70.02,0.04,14.38,13.18,14.58,13.94,0.0,2018-01-06 18:30:00
4,12.17,23.92,-2.48,-0.50,-50.24,-13.61,22.48,295.63,382.87,419.49,...,0.04,21.10,70.00,0.04,14.41,13.32,14.60,14.11,0.0,2018-01-06 19:00:00

Ahora vamos a obtener el promedio mensual de los sig. parámetros:

-Latitud (º N)
-Longitud (º O)
-Elevación (m)
-Velocidad del Viento (WS_ms_S_WVT en m/s)
-Tmax (Max de  AirTC_Avg en ºC)
-Tmin (Min de  AirTC_Avg en ºC)
-RHmax (Max de RH en %)
-RHmin (Min de RH en %)
-RHmean (Promedio de RH en %)
-Rs (Radiación neta Rn_Avg en MJ/m2/día)

In [7]:
#Filtramos los datos que vamos a ocupar
df1 = df1.filter(['FECHA','WS_ms_S_WVT','AirTC_Avg','RH','Rn_Avg'],axis=1)
df1.head()

                FECHA  WS_ms_S_WVT  AirTC_Avg     RH  Rn_Avg
0 2018-01-06 17:00:00         2.33      27.75  20.61    1.79
1 2018-01-06 17:30:00         3.12      26.57  25.25  -18.59
2 2018-01-06 18:00:00         2.54      25.01  26.45  -35.10
3 2018-01-06 18:30:00         2.01      23.65  29.22  -40.13
4 2018-01-06 19:00:00         2.14      22.84  31.08  -39.46

In [8]:
#Extraemos una variable de mes de la fecha
df1['MES'] = df1['FECHA'].dt.month
df1['DIA'] = df1['FECHA'].dt.day
df1.head()

                FECHA  WS_ms_S_WVT  AirTC_Avg     RH  Rn_Avg  MES  DIA
0 2018-01-06 17:00:00         2.33      27.75  20.61    1.79  1.0  6.0
1 2018-01-06 17:30:00         3.12      26.57  25.25  -18.59  1.0  6.0
2 2018-01-06 18:00:00         2.54      25.01  26.45  -35.10  1.0  6.0
3 2018-01-06 18:30:00         2.01      23.65  29.22  -40.13  1.0  6.0
4 2018-01-06 19:00:00         2.14      22.84  31.08  -39.46  1.0  6.0

In [9]:
#Crearemos dos columnas con la temperatura máxima y mínima por día
df1["AirTC_Avg_max"] =df1.groupby(["MES","DIA"])["AirTC_Avg"].transform("max")
df1["AirTC_Avg_min"] =df1.groupby(["MES","DIA"])["AirTC_Avg"].transform("min")


#Crearemos dos columnas para RHmax y RHmin por día
df1["RH_max"] =df1.groupby(["MES","DIA"])['RH'].transform("max")
df1["RH_min"] =df1.groupby(["MES","DIA"])['RH'].transform("min")

df1.head()

,FECHA,WS_ms_S_WVT,AirTC_Avg,RH,Rn_Avg,MES,DIA,AirTC_Avg_max,AirTC_Avg_min,RH_max,RH_min
0,2018-01-06 17:00:00,2.33,27.75,20.61,1.79,1.0,6.0,27.75,16.03,46.27,20.61
1,2018-01-06 17:30:00,3.12,26.57,25.25,-18.59,1.0,6.0,27.75,16.03,46.27,20.61
2,2018-01-06 18:00:00,2.54,25.01,26.45,-35.10,1.0,6.0,27.75,16.03,46.27,20.61
3,2018-01-06 18:30:00,2.01,23.65,29.22,-40.13,1.0,6.0,27.75,16.03,46.27,20.61
4,2018-01-06 19:00:00,2.14,22.84,31.08,-39.46,1.0,6.0,27.75,16.03,46.27,20.61

In [10]:
#df_prom_month = pd.DataFrame()
#TMinDia = df1.groupby(df1["MES"])['AirTC_Avg_max'].agg({"mean"})
#TMin_array = TMinDia["mean"].tolist()
#df_prom_month["Temperatura_max"]=TMin_array

SyntaxError: invalid syntax (<ipython-input-10-bee7109be754>, line 1)

In [11]:
#Creamos un nuevo dataframe con los promedios mensuales de cada variable
df_prom_month = pd.DataFrame()

df_prom_month["Vel_viento"] =df1.groupby(["MES"])["WS_ms_S_WVT"].transform("mean")
df_prom_month["Temperatura_prom"] =df1.groupby(["MES"])["AirTC_Avg"].transform("mean")
df_prom_month["Temperatura_max"] =df1.groupby(["MES"])["AirTC_Avg_max"].transform("mean")
df_prom_month["Temperatura_min"] =df1.groupby(["MES"])["AirTC_Avg_min"].transform("mean")
df_prom_month["Humedad_Rel_max"] =df1.groupby(["MES"])["RH_max"].transform("mean")
df_prom_month["Humedad_Rel_min"] =df1.groupby(["MES"])["RH_min"].transform("mean")
df_prom_month["Humedad_Rel_mean"] =df1.groupby(["MES"])["RH"].transform("mean")
df_prom_month["Rad_Solar"] =df1.groupby(["MES"])["Rn_Avg"].transform("mean")

df_prom_month=df_prom_month.drop_duplicates(subset=["Vel_viento",'Temperatura_max',"Temperatura_min","Humedad_Rel_max","Humedad_Rel_min",'Humedad_Rel_mean',"Rad_Solar"])

df_prom_month.head(15)

,Vel_viento,Temperatura_prom,Temperatura_max,Temperatura_min,Humedad_Rel_max,Humedad_Rel_min,Humedad_Rel_mean,Rad_Solar
0,1.943827,16.963975,27.341210,7.501276,66.380848,14.056733,38.471432,34.734815
1214,1.964189,17.230275,25.320357,9.433214,72.542857,25.725357,48.168006,56.250350
2558,1.926196,19.282359,29.519355,8.883548,68.361613,15.204839,36.968353,92.894913
4046,2.101812,21.880618,32.671667,10.781667,76.585000,15.712333,40.785667,134.012965
5486,2.113918,23.650034,34.133548,12.781290,79.971935,17.229032,44.233468,162.405343
6974,2.154986,28.416187,36.968333,19.552667,81.381333,25.799667,50.810507,163.926069
8414,2.022204,31.065726,38.419355,24.488387,85.183226,32.805806,57.639805,157.534402
9902,1.910853,30.120894,36.985806,24.702581,92.539677,42.205484,68.868454,151.273589
11390,1.790326,29.661271,37.576000,23.582333,93.100000,36.606333,66.619750,136.749910
12830,1.664435,23.254207,31.346452,16.581613,94.842581,37.131613,68.696082,95.513468
14318,1.498097,16.966396,28.002333,8.249333,90.252000,22.502000,58.085458,60.384285
15758,1.628730,14.332823,24.349677,5.991613,88.079032,25.355161,58.333938,44.962366
17247,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
#Quitamos la última fila
df_prom_month = df_prom_month.drop(df1.index[17247]).reset_index(drop=True)
df_prom_month.head(15)

,Vel_viento,Temperatura_prom,Temperatura_max,Temperatura_min,Humedad_Rel_max,Humedad_Rel_min,Humedad_Rel_mean,Rad_Solar
0,1.943827,16.963975,27.341210,7.501276,66.380848,14.056733,38.471432,34.734815
1,1.964189,17.230275,25.320357,9.433214,72.542857,25.725357,48.168006,56.250350
2,1.926196,19.282359,29.519355,8.883548,68.361613,15.204839,36.968353,92.894913
3,2.101812,21.880618,32.671667,10.781667,76.585000,15.712333,40.785667,134.012965
4,2.113918,23.650034,34.133548,12.781290,79.971935,17.229032,44.233468,162.405343
5,2.154986,28.416187,36.968333,19.552667,81.381333,25.799667,50.810507,163.926069
6,2.022204,31.065726,38.419355,24.488387,85.183226,32.805806,57.639805,157.534402
7,1.910853,30.120894,36.985806,24.702581,92.539677,42.205484,68.868454,151.273589
8,1.790326,29.661271,37.576000,23.582333,93.100000,36.606333,66.619750,136.749910
9,1.664435,23.254207,31.346452,16.581613,94.842581,37.131613,68.696082,95.513468
10,1.498097,16.966396,28.002333,8.249333,90.252000,22.502000,58.085458,60.384285
11,1.628730,14.332823,24.349677,5.991613,88.079032,25.355161,58.333938,44.962366

In [13]:
#Reiniciamos el índice y agregamos los meses
mes=["Enero",'Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre']
df_prom_month['MESES']=mes
df_prom_month.set_index('MESES')

,Vel_viento,Temperatura_prom,Temperatura_max,Temperatura_min,Humedad_Rel_max,Humedad_Rel_min,Humedad_Rel_mean,Rad_Solar
MESES,,,,,,,,
Enero,1.943827,16.963975,27.341210,7.501276,66.380848,14.056733,38.471432,34.734815
Febrero,1.964189,17.230275,25.320357,9.433214,72.542857,25.725357,48.168006,56.250350
Marzo,1.926196,19.282359,29.519355,8.883548,68.361613,15.204839,36.968353,92.894913
Abril,2.101812,21.880618,32.671667,10.781667,76.585000,15.712333,40.785667,134.012965
Mayo,2.113918,23.650034,34.133548,12.781290,79.971935,17.229032,44.233468,162.405343
Junio,2.154986,28.416187,36.968333,19.552667,81.381333,25.799667,50.810507,163.926069
Julio,2.022204,31.065726,38.419355,24.488387,85.183226,32.805806,57.639805,157.534402
Agosto,1.910853,30.120894,36.985806,24.702581,92.539677,42.205484,68.868454,151.273589
Septiembre,1.790326,29.661271,37.576000,23.582333,93.100000,36.606333,66.619750,136.749910
Octubre,1.664435,23.254207,31.346452,16.581613,94.842581,37.131613,68.696082,95.513468
Noviembre,1.498097,16.966396,28.002333,8.249333,90.252000,22.502000,58.085458,60.384285
Diciembre,1.628730,14.332823,24.349677,5.991613,88.079032,25.355161,58.333938,44.962366