In [1]:
#Importar librerías
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import calendar
import seaborn as sns

In [2]:
#Asignando variable a valores nulos
sentinels = {'PRECIP': ['Nulo'], 'EVAP': ['Nulo'], 'TMAX': ['Nulo'],'TMIN': ['Nulo']}
#Leyendo el archivo
df0 = pd.read_csv("cajeme.txt",skiprows=0,sep='\s+',na_values=sentinels)

In [3]:
#Definiendo el dataframe
df = pd.DataFrame(df0)

In [4]:
#Cambiando la columna de fecha a formato fecha
df['FECHAN'] = pd.to_datetime(df.apply(lambda x: x['FECHA'], 1), dayfirst=True)
df = df.drop(['FECHA'], 1)

In [5]:
#Mostrando los tipos
df.dtypes

PRECIP           float64
EVAP             float64
TMAX             float64
TMIN             float64
FECHAN    datetime64[ns]
dtype: object

In [6]:
#Mostrando descripción del data frame
df.describe()

             PRECIP         EVAP          TMAX          TMIN
count  10531.000000  7324.000000  10503.000000  10514.000000
mean       0.894511     5.814091     32.601047     14.880873
std        5.948456     2.431426      5.770682      6.881583
min        0.000000     0.200000     13.000000     -2.500000
25%        0.000000     3.900000     28.000000      9.000000
50%        0.000000     5.500000     33.000000     13.000000
75%        0.000000     7.600000     37.500000     22.000000
max      184.500000    14.900000     47.500000     29.000000

In [7]:
#Definiendo columnas de año y mes
df['MES'] = df['FECHAN'].dt.month
df['AÑO'] = df['FECHAN'].dt.year
df.head()

   PRECIP  EVAP  TMAX  TMIN     FECHAN  MES   AÑO
0     0.0   1.2  25.0   7.0 1980-01-01    1  1980
1     0.0   1.7  22.0   8.0 1980-01-02    1  1980
2     0.0   1.9  25.0   9.0 1980-01-03    1  1980
3     0.0   1.8  26.0   6.0 1980-01-04    1  1980
4     0.0   2.0  26.0   4.0 1980-01-05    1  1980

In [8]:
#Valores por año
df.groupby('AÑO').count()

      PRECIP  EVAP  TMAX  TMIN  FECHAN  MES
AÑO
1980     366   366   366   366     366  366
1981     365   365   365   365     365  365
1982     365   365   365   365     365  365
1983     120   120   120   120     120  120
1984     275   275   275   275     275  275
1985     182   182   182   182     182  182
1986     242   242   242   242     242  242
1987     245   245   245   245     245  245
1988     305   305   300   301     305  305
1989      31    31    31    31      31   31
1990     365   365   365   365     365  365
1991     365   365   365   365     365  365
1992     366   365   361   366     366  366
1993     365   364   364   365     365  365
1994     365   364   352   353     365  365
1995     365   365   365   365     365  365
1996     366   366   364   366     366  366
1997     365   365   365   365     365  365
1998     365   365   365   365     365  365
1999     365     6   365   365     365  365
2000     366   264   366   366     366  366
2001     365   334   365   365     365  365
2002     365   364   363   364     365  365
2003     365   365   365   365     365  365
2004     366   211   366   366     366  366
2005     365     0   365   365     365  365
2006     365     0   365   365     365  365
2007     365     0   365   365     365  365
2008     366     0   366   366     366  366
2009     365     0   365   365     365  365
2010     365     0   365   365     365  365
2011     365     0   365   365     365  365

In [9]:
#1
#Número de días con heladas por año(FD: TMIN < 0°C)

#Tomar temperaturas TMIN menores a 0
nHel = pd.DataFrame(df.loc[df['TMIN']<0])

#Agrupar por año y contar datos 
nHel = pd.DataFrame(nHel.groupby('AÑO').count())

#Definir data frame y tomar 
nHel_df = nHel.filter(['TMIN'],axis=1)
nHel_df['HELADAS POR AÑO'] = nHel_df['TMIN']
nHel_df = nHel_df.drop(['TMIN'],1)

nHel_df= nHel_df.reset_index()
nHel_df.head()

    AÑO  HELADAS POR AÑO
0  1985                1
1  1987                3
2  2011                3

In [10]:
#2
#Número de días de verano por año(FD: TMAX > 25°C)
nVer = pd.DataFrame(df.loc[df['TMAX']>25])

nVer= pd.DataFrame(nVer.groupby('AÑO').count())

nVer_df = nVer.filter(['TMAX'],axis=1)
nVer_df['DÍAS DE VERANO']= nVer_df['TMAX']
nVer_df= nVer_df.drop(['TMAX'], 1)

nVer_df= nVer_df.reset_index()

nVer_df.head()

    AÑO  DÍAS DE VERANO
0  1980             313
1  1981             302
2  1982             295
3  1983              83
4  1984             222

In [11]:
#3
#Número de noches tropicales por año(TR: TMIN>20°C)
nTrop = pd.DataFrame(df[df['TMIN']<0])

nTrop= pd.DataFrame(nTrop.groupby('AÑO').count())

nTrop_df = nTrop.filter(['TMIN'],axis=1)
nTrop_df['NOCHES TROPICALES']= nTrop_df['TMIN']
nTrop_df= nTrop_df.drop(['TMIN'], 1)

nTrop_df= nTrop_df.reset_index()

nTrop_df.head()

#b1 = pd.DataFrame('MES','TMIN')
#b1.head()

    AÑO  NOCHES TROPICALES
0  1985                  1
1  1987                  3
2  2011                  3

In [12]:
#4
#Crear data frame con temperatura promedio 

df['TEMPPROM']=(df['TMIN']+df['TMAX'])/2

Tprom = pd.DataFrame( df.filter(['TEMPPROM','AÑO'],axis=1) )

Tprom.tail()

       TEMPPROM   AÑO
10526     15.00  2011
10527     17.25  2011
10528     17.50  2011
10529     17.75  2011
10530     17.75  2011

In [13]:
#4
#Se buscará si hay datos que concuerden con la condión de Temperatura promedio abajo de 5°C
nT = Tprom[Tprom['TEMPPROM']<5]
nT

Empty DataFrame
Columns: [TEMPPROM, AÑO]
Index: []

In [14]:
#4
Primeros = []
indice = -1

for j in range(Tprom["AÑO"][0],Tprom["AÑO"][len(df)-1]+1):
    for i in range(5,len(df)-1):
        if(Tprom["AÑO"][i-5] == j):
            if(Tprom["TEMPPROM"][i-5] > 5 and Tprom["TEMPPROM"][i-4] > 5 and Tprom["TEMPPROM"][i-3] > 5 and
               Tprom["TEMPPROM"][i-2] > 5 and Tprom["TEMPPROM"][i-1] > 5 and Tprom["TEMPPROM"][i]   > 5):
                    indice = i
                    break
    if(indice != -1):
        Primeros.append(indice)
        PrimerosSeis= -1
    else:
        Primeros.append("NA")

In [15]:
Primeros

[5,
 371,
 736,
 1101,
 1221,
 1496,
 1678,
 1920,
 2165,
 2470,
 2501,
 2866,
 3231,
 3597,
 3962,
 4327,
 4692,
 5058,
 5423,
 5788,
 6153,
 6519,
 6884,
 7249,
 7614,
 7980,
 8345,
 8710,
 9075,
 9441,
 9806,
 10171]

In [16]:
#4 
Ultimos = []
indice = -1

for j in range(Tprom["AÑO"][len(df)-1],Tprom["AÑO"][0]-1,-1):
    for i in range(len(df)-1,5,-1):
        if(Tprom["AÑO"][i] == j):
            if(Tprom["TEMPPROM"][i-5] < 5 and Tprom["TEMPPROM"][i-4] < 5 and Tprom["TEMPPROM"][i-3] < 5 and
               Tprom["TEMPPROM"][i-2] < 5 and Tprom["TEMPPROM"][i-1] < 5 and Tprom["TEMPPROM"][i]   < 5):
                    indice = i-5
                    break
    if(indice != -1):
        Ultimos.append(indice)
        indice = -1
    else:
        Ultimos.append("NA")
        
Ultimos = Ultimos[::-1]

In [17]:
Ultimos

['NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA']

In [18]:
#Calcular resta de ambos arreglos para estimar el número de días entre los intervalos
#Si la temperatura nunca baja de los 5 grados, interpretar el total de los días del año como temporada de cultivo
#Si la temperatura nunca es mayor a los 5 grados, interpretar la temporada de cultivo como nula
GSL = []
inicial = Tprom['AÑO'][0]
for i in range(0,len(Ultimos)):
    if(Ultimos[i]!="NA" and Primeros[i]!="NA"):
        GSL.append(Ultimos[i]-Primeros[i])
    if(Ultimos[i]=='NA'):
            GSL.append( len(Tprom[ Tprom['AÑO'] == inicial].index) )
    else:
        if(Primeros[i]=='NA'):
            GSL.append(0)
    inicial=inicial+1

In [19]:
GSL

[366,
 365,
 365,
 120,
 275,
 182,
 242,
 245,
 305,
 31,
 365,
 365,
 366,
 365,
 365,
 365,
 366,
 365,
 365,
 365,
 366,
 365,
 365,
 365,
 366,
 365,
 365,
 365,
 366,
 365,
 365,
 365]

In [20]:
#5
#TXx: La máxima mensual de la temperatura máxima, max(Tmax).
#Se busca la tempertatura mínima para cada mes de cada año 
TXx=[]
inicial=df['AÑO'][0]
nAños=df['AÑO'].nunique()


for i in range(0,nAños):
        daño = df[df['AÑO']==inicial]
        for j in range (1,13):
                dmes = daño[daño['MES']==j]
                TmaxMes = dmes.TMAX.max()
                TXx.append(TmaxMes)
    
        inicial=inicial+1

In [21]:
TXx

[28.0,
 31.0,
 33.0,
 38.0,
 38.0,
 40.0,
 42.0,
 41.0,
 40.0,
 38.0,
 36.0,
 31.0,
 29.0,
 33.0,
 31.0,
 38.0,
 36.0,
 38.0,
 38.0,
 44.0,
 40.0,
 36.0,
 35.0,
 32.0,
 27.0,
 31.0,
 32.0,
 37.0,
 40.0,
 41.0,
 40.0,
 40.0,
 41.0,
 38.0,
 34.0,
 28.0,
 29.0,
 30.0,
 35.0,
 36.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 28.0,
 30.0,
 34.0,
 nan,
 nan,
 38.0,
 39.0,
 39.0,
 43.0,
 34.0,
 nan,
 30.0,
 25.0,
 31.0,
 33.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 43.0,
 36.0,
 31.0,
 32.0,
 33.0,
 38.0,
 40.0,
 nan,
 nan,
 41.0,
 nan,
 40.0,
 37.0,
 35.0,
 nan,
 33.0,
 nan,
 35.0,
 37.0,
 38.0,
 43.0,
 nan,
 42.0,
 42.0,
 nan,
 nan,
 30.0,
 30.0,
 31.0,
 37.0,
 37.0,
 39.0,
 nan,
 nan,
 43.0,
 43.0,
 42.0,
 38.0,
 32.0,
 31.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 30.0,
 32.0,
 35.0,
 38.0,
 42.0,
 41.0,
 38.0,
 41.0,
 40.0,
 38.0,
 36.0,
 33.0,
 28.0,
 32.0,
 34.0,
 36.0,
 38.0,
 41.0,
 40.0,
 42.0,
 40.0,
 42.0,
 36.0,
 29.0,
 28.0,
 32.0,
 35.0,
 41.0,
 39.0,
 42.0,
 41.0,
 42.0,
 42.0,
 40.0,
 35.0,
 29.0,
 28.0,
 28.0,
 33.0,
 39.0,
 39.0,
 42.0,
 39.5,
 40.0,
 43.0,
 40.0,
 32.5,
 31.0,
 30.5,
 28.5,
 34.0,
 42.5,
 44.0,
 43.5,
 42.0,
 41.0,
 41.0,
 40.0,
 35.0,
 30.0,
 31.0,
 35.0,
 34.0,
 38.0,
 39.0,
 44.0,
 44.5,
 45.5,
 44.0,
 44.0,
 39.0,
 32.0,
 32.0,
 32.0,
 34.0,
 38.5,
 40.0,
 42.0,
 44.5,
 42.0,
 39.5,
 42.0,
 34.0,
 26.0,
 28.5,
 29.0,
 36.0,
 36.0,
 41.0,
 41.0,
 42.5,
 42.0,
 41.0,
 38.0,
 34.0,
 28.0,
 30.0,
 29.0,
 31.5,
 35.0,
 40.0,
 42.5,
 47.5,
 44.0,
 42.0,
 39.0,
 34.0,
 29.5,
 29.5,
 33.0,
 34.0,
 36.0,
 40.0,
 42.0,
 42.0,
 43.0,
 44.0,
 41.0,
 37.0,
 39.0,
 33.5,
 31.0,
 34.0,
 37.0,
 39.5,
 43.0,
 46.0,
 45.0,
 44.0,
 40.0,
 31.0,
 31.5,
 32.0,
 33.0,
 33.5,
 38.0,
 42.5,
 43.0,
 42.0,
 44.0,
 43.0,
 38.0,
 36.5,
 30.0,
 30.0,
 32.0,
 35.5,
 41.5,
 41.0,
 41.5,
 42.0,
 42.5,
 43.0,
 39.0,
 34.5,
 30.0,
 32.0,
 32.5,
 36.0,
 37.0,
 39.5,
 43.0,
 43.0,
 42.0,
 41.5,
 41.5,
 38.5,
 32.0,
 30.0,
 34.0,
 41.0,
 36.5,
 41.0,
 42.5,
 45.0,
 42.0,
 40.0,
 40.0,
 37.0,
 33.0,
 30.0,
 30.0,
 32.0,
 35.0,
 39.0,
 41.0,
 41.5,
 43.5,
 41.5,
 39.0,
 39.0,
 31.0,
 31.5,
 34.0,
 34.0,
 39.0,
 42.0,
 43.0,
 44.0,
 41.0,
 40.5,
 40.0,
 36.0,
 30.0,
 30.0,
 32.0,
 34.5,
 36.0,
 42.0,
 43.0,
 44.0,
 43.0,
 43.0,
 40.0,
 38.5,
 28.5,
 32.0,
 34.0,
 35.0,
 37.5,
 41.0,
 43.0,
 43.5,
 43.0,
 42.0,
 40.0,
 40.0,
 30.0,
 30.0,
 39.0,
 39.0,
 41.0,
 41.0,
 42.0,
 42.5,
 42.0,
 42.0,
 37.0,
 37.0,
 28.0,
 29.0,
 30.5,
 33.0,
 35.5,
 40.0,
 44.0,
 42.5,
 43.5,
 41.0,
 39.0,
 35.0,
 32.0,
 30.0,
 32.0,
 34.5,
 36.0,
 39.0,
 41.5,
 42.0,
 41.0,
 41.5,
 40.0,
 36.0,
 28.5]

In [22]:
#6
#TNx. La máxima mensual de la temperatura mínima, max(Tmin).
TNx=[]
inicial=df['AÑO'][0]
nAños=df['AÑO'].nunique()


for i in range(0,nAños):
        daño = df[df['AÑO']==inicial]
        for j in range (1,13):
                dmes = daño[daño['MES']==j]
                TmaxMes = dmes.TMIN.max()
                TNx.append(TmaxMes)
    
        inicial=inicial+1

In [23]:
TNx

[14.0,
 16.0,
 16.0,
 18.0,
 19.0,
 27.0,
 29.0,
 28.0,
 28.0,
 26.0,
 17.0,
 13.0,
 17.0,
 15.0,
 15.0,
 17.0,
 19.0,
 25.0,
 27.0,
 26.0,
 26.0,
 24.0,
 17.0,
 14.0,
 13.0,
 12.0,
 13.0,
 17.0,
 18.0,
 24.0,
 27.0,
 27.0,
 25.0,
 24.0,
 19.0,
 16.0,
 15.0,
 12.0,
 12.0,
 14.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 14.0,
 12.0,
 13.0,
 nan,
 nan,
 25.0,
 26.0,
 27.0,
 25.0,
 23.0,
 nan,
 15.0,
 14.0,
 11.0,
 14.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 22.0,
 18.0,
 10.0,
 12.0,
 15.0,
 13.0,
 19.0,
 nan,
 nan,
 27.0,
 nan,
 26.0,
 21.0,
 20.0,
 nan,
 9.0,
 nan,
 10.0,
 16.0,
 19.0,
 22.0,
 nan,
 26.0,
 26.0,
 nan,
 nan,
 11.0,
 9.0,
 11.0,
 13.0,
 15.0,
 18.0,
 nan,
 nan,
 27.0,
 27.0,
 22.0,
 18.0,
 13.0,
 13.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 11.0,
 10.0,
 14.0,
 13.0,
 19.0,
 27.0,
 26.0,
 26.0,
 26.0,
 22.0,
 18.0,
 14.0,
 13.0,
 16.0,
 14.0,
 13.0,
 18.0,
 24.0,
 26.0,
 26.0,
 26.0,
 24.0,
 17.0,
 15.0,
 14.0,
 14.0,
 14.0,
 19.0,
 19.0,
 26.0,
 27.0,
 26.0,
 26.0,
 22.0,
 17.0,
 16.0,
 14.0,
 14.0,
 15.0,
 16.0,
 21.5,
 25.5,
 26.0,
 26.5,
 25.0,
 24.0,
 21.0,
 15.0,
 10.0,
 9.0,
 14.0,
 18.0,
 15.5,
 24.0,
 25.0,
 25.0,
 25.5,
 24.0,
 17.0,
 13.0,
 11.0,
 15.0,
 15.0,
 14.0,
 21.0,
 24.0,
 25.5,
 25.5,
 24.5,
 19.0,
 14.5,
 13.0,
 8.5,
 11.0,
 14.0,
 14.0,
 21.0,
 25.0,
 27.0,
 28.0,
 25.5,
 22.5,
 18.5,
 12.0,
 10.0,
 10.0,
 16.0,
 16.0,
 21.0,
 23.0,
 26.0,
 27.0,
 26.0,
 25.0,
 20.0,
 14.0,
 11.5,
 9.5,
 12.0,
 12.0,
 17.5,
 25.0,
 29.0,
 27.5,
 26.5,
 24.0,
 19.0,
 12.0,
 9.5,
 10.0,
 9.0,
 17.0,
 17.0,
 22.0,
 27.0,
 27.0,
 26.5,
 24.0,
 14.5,
 10.5,
 11.0,
 10.5,
 10.5,
 13.0,
 16.5,
 26.0,
 27.0,
 27.0,
 24.5,
 24.0,
 14.0,
 11.5,
 14.0,
 10.0,
 11.5,
 14.5,
 20.0,
 26.0,
 27.0,
 27.0,
 26.5,
 22.0,
 21.5,
 11.0,
 8.0,
 10.0,
 10.0,
 16.5,
 18.0,
 22.0,
 25.0,
 27.0,
 27.5,
 21.0,
 17.5,
 16.0,
 13.0,
 14.5,
 11.0,
 17.0,
 17.0,
 22.5,
 26.0,
 28.5,
 25.5,
 24.0,
 21.0,
 11.0,
 13.0,
 9.0,
 14.0,
 16.0,
 18.0,
 24.0,
 27.0,
 26.0,
 26.5,
 21.0,
 14.0,
 13.5,
 15.0,
 13.5,
 13.0,
 15.0,
 22.0,
 25.0,
 26.5,
 27.0,
 26.0,
 25.0,
 15.5,
 13.0,
 11.0,
 11.0,
 11.0,
 15.0,
 19.0,
 24.5,
 27.0,
 27.0,
 26.0,
 26.0,
 15.0,
 15.0,
 12.0,
 11.0,
 14.0,
 13.0,
 19.0,
 25.0,
 26.0,
 26.0,
 26.0,
 25.0,
 16.0,
 19.0,
 15.5,
 12.0,
 10.0,
 14.0,
 18.0,
 26.0,
 26.0,
 26.5,
 25.5,
 24.0,
 20.0,
 14.0,
 16.0,
 12.0,
 15.0,
 13.0,
 22.0,
 25.0,
 29.0,
 27.0,
 24.5,
 23.0,
 18.0,
 14.0,
 16.0,
 10.0,
 10.5,
 13.0,
 18.0,
 25.0,
 27.0,
 27.0,
 26.0,
 25.0,
 15.0,
 12.5,
 12.0,
 8.5,
 10.0,
 14.0,
 15.0,
 26.0,
 26.5,
 28.0,
 26.0,
 23.0,
 17.0,
 13.5]

In [24]:
#7
#TXn: El mínimo mensual de la temperatura máxima, min(Tmax).
TXn=[]
inicial=df['AÑO'][0]
nAños=df['AÑO'].nunique()


for i in range(0,nAños):
        daño = df[df['AÑO']==inicial]
        for j in range (1,13):
                dmes = daño[daño['MES']==j]
                TminMes = dmes.TMAX.min()
                TXn.append(TminMes)
    
        inicial=inicial+1

In [25]:
TXn

[20.0,
 22.0,
 22.0,
 24.0,
 28.0,
 32.0,
 32.0,
 27.0,
 32.0,
 30.0,
 23.0,
 21.0,
 19.0,
 21.0,
 21.0,
 20.0,
 28.0,
 29.0,
 30.0,
 30.0,
 30.0,
 31.0,
 24.0,
 22.0,
 19.0,
 21.0,
 25.0,
 28.0,
 28.0,
 32.0,
 32.0,
 31.0,
 33.0,
 31.0,
 18.0,
 15.0,
 18.0,
 20.0,
 21.0,
 22.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 22.0,
 23.0,
 25.0,
 nan,
 nan,
 29.0,
 30.0,
 28.0,
 31.0,
 26.0,
 nan,
 16.0,
 17.0,
 13.0,
 19.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 29.0,
 24.0,
 19.0,
 25.0,
 20.0,
 23.0,
 28.0,
 nan,
 nan,
 32.0,
 nan,
 30.0,
 30.0,
 25.0,
 nan,
 14.0,
 nan,
 22.0,
 27.0,
 29.0,
 33.0,
 nan,
 35.0,
 32.0,
 nan,
 nan,
 15.0,
 18.0,
 22.0,
 22.0,
 28.0,
 29.0,
 nan,
 nan,
 31.0,
 35.0,
 34.0,
 27.0,
 18.5,
 16.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 16.0,
 18.0,
 24.0,
 27.0,
 30.0,
 34.0,
 31.0,
 32.0,
 32.0,
 28.0,
 24.0,
 18.0,
 20.0,
 21.0,
 20.0,
 30.0,
 30.0,
 32.0,
 32.0,
 29.0,
 30.0,
 29.0,
 24.0,
 20.0,
 19.0,
 20.0,
 24.0,
 25.0,
 30.0,
 35.0,
 33.0,
 30.0,
 34.0,
 31.0,
 24.0,
 19.0,
 19.0,
 20.0,
 20.0,
 28.0,
 29.0,
 34.0,
 32.0,
 32.0,
 29.0,
 27.0,
 23.0,
 20.0,
 21.0,
 23.0,
 27.0,
 30.0,
 31.0,
 37.0,
 34.0,
 34.0,
 33.0,
 28.0,
 24.0,
 20.0,
 21.0,
 25.0,
 27.0,
 28.0,
 30.0,
 32.0,
 38.0,
 37.0,
 32.0,
 36.0,
 29.0,
 24.0,
 23.0,
 20.0,
 22.0,
 27.0,
 32.0,
 36.0,
 34.0,
 33.0,
 31.0,
 28.0,
 21.0,
 17.5,
 18.0,
 21.0,
 27.0,
 24.0,
 35.0,
 35.0,
 37.0,
 34.0,
 30.0,
 31.0,
 24.0,
 18.0,
 22.0,
 23.0,
 24.0,
 24.0,
 30.0,
 34.0,
 34.0,
 34.5,
 32.0,
 28.5,
 28.0,
 23.0,
 21.0,
 24.0,
 26.0,
 27.0,
 30.0,
 33.0,
 35.0,
 36.0,
 34.0,
 33.0,
 28.0,
 22.0,
 21.0,
 26.0,
 27.0,
 30.0,
 35.0,
 35.0,
 38.0,
 36.0,
 36.0,
 26.0,
 24.0,
 25.5,
 21.0,
 21.0,
 16.0,
 24.0,
 34.0,
 37.5,
 36.0,
 34.0,
 27.0,
 30.0,
 22.0,
 20.0,
 19.0,
 23.0,
 24.0,
 28.0,
 34.0,
 33.0,
 34.0,
 33.5,
 33.0,
 31.0,
 25.0,
 20.0,
 23.0,
 21.5,
 22.5,
 28.5,
 33.0,
 35.0,
 31.0,
 35.0,
 27.5,
 30.0,
 26.5,
 22.0,
 20.5,
 21.0,
 21.0,
 22.0,
 34.0,
 35.5,
 32.0,
 34.0,
 26.0,
 23.5,
 22.0,
 21.0,
 20.5,
 21.0,
 27.0,
 29.0,
 32.0,
 33.0,
 36.0,
 32.5,
 36.0,
 31.0,
 25.0,
 24.0,
 20.0,
 23.5,
 25.0,
 27.0,
 33.0,
 38.0,
 33.0,
 36.5,
 33.0,
 26.0,
 26.0,
 21.5,
 16.0,
 21.0,
 24.0,
 28.0,
 32.0,
 36.5,
 32.0,
 27.0,
 28.0,
 34.0,
 25.0,
 21.0,
 22.0,
 23.0,
 22.0,
 31.0,
 30.0,
 35.0,
 34.0,
 32.0,
 27.0,
 30.0,
 25.0,
 22.0,
 22.0,
 21.5,
 22.0,
 28.0,
 36.0,
 37.0,
 36.0,
 36.0,
 28.0,
 26.0,
 23.0,
 20.0,
 22.0,
 22.0,
 24.0,
 25.0,
 29.5,
 32.0,
 32.0,
 34.0,
 30.0,
 28.0,
 22.0,
 23.0,
 21.0,
 17.5,
 24.0,
 29.0,
 31.0,
 36.0,
 34.5,
 33.0,
 35.0,
 32.0,
 23.0,
 18.5]

In [26]:
#8
#TNn: El mínimo mensual de la temperatura mínima, min(Tmin).
TNn=[]
inicial=df['AÑO'][0]
nAños=df['AÑO'].nunique()


for i in range(0,nAños):
        daño = df[df['AÑO']==inicial]
        for j in range (1,13):
                dmes = daño[daño['MES']==j]
                TminMes = dmes.TMIN.min()
                TNn.append(TminMes)
    
        inicial=inicial+1

In [27]:
TNn

[4.0,
 8.0,
 7.0,
 8.0,
 11.0,
 17.0,
 24.0,
 23.0,
 22.0,
 13.0,
 6.0,
 7.0,
 4.0,
 3.0,
 6.0,
 7.0,
 13.0,
 16.0,
 23.0,
 22.0,
 19.0,
 12.0,
 8.0,
 3.0,
 3.0,
 2.0,
 6.0,
 9.0,
 9.0,
 15.0,
 22.0,
 22.0,
 20.0,
 10.0,
 8.0,
 3.0,
 4.0,
 4.0,
 6.0,
 6.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 4.0,
 3.0,
 3.0,
 nan,
 nan,
 17.0,
 21.0,
 20.0,
 20.0,
 10.0,
 nan,
 5.0,
 3.0,
 -1.0,
 2.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 11.0,
 5.0,
 4.0,
 6.0,
 4.0,
 6.0,
 8.0,
 nan,
 nan,
 22.0,
 nan,
 14.0,
 13.0,
 6.0,
 nan,
 -2.0,
 nan,
 4.0,
 6.0,
 11.0,
 16.0,
 nan,
 21.0,
 17.0,
 nan,
 nan,
 1.0,
 1.0,
 4.0,
 5.0,
 5.0,
 7.0,
 nan,
 nan,
 23.0,
 20.0,
 13.0,
 5.0,
 0.0,
 0.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 3.0,
 2.0,
 3.0,
 7.0,
 9.0,
 13.0,
 21.0,
 19.0,
 18.0,
 12.0,
 7.0,
 5.0,
 4.0,
 5.0,
 5.0,
 5.0,
 9.0,
 9.0,
 20.0,
 21.0,
 20.0,
 9.0,
 6.0,
 4.0,
 4.0,
 4.0,
 7.0,
 9.0,
 11.0,
 15.0,
 21.5,
 16.0,
 20.0,
 14.0,
 4.0,
 2.0,
 6.0,
 5.0,
 5.0,
 7.0,
 13.0,
 14.0,
 22.0,
 22.0,
 17.0,
 13.5,
 8.0,
 4.0,
 4.0,
 3.0,
 8.0,
 9.0,
 9.0,
 19.0,
 2.0,
 20.0,
 20.0,
 15.0,
 7.0,
 7.0,
 5.0,
 9.0,
 8.0,
 8.0,
 10.0,
 15.0,
 20.0,
 23.0,
 18.0,
 13.0,
 10.0,
 5.5,
 3.0,
 4.5,
 5.0,
 9.0,
 11.0,
 14.5,
 20.0,
 21.0,
 20.0,
 18.0,
 9.0,
 4.0,
 2.0,
 4.0,
 7.0,
 9.0,
 14.0,
 17.0,
 22.0,
 21.0,
 21.0,
 19.0,
 9.0,
 3.0,
 5.5,
 6.0,
 6.5,
 7.0,
 9.0,
 14.0,
 20.0,
 23.0,
 19.0,
 18.0,
 11.0,
 4.0,
 3.0,
 5.0,
 6.0,
 7.0,
 9.0,
 11.0,
 22.0,
 20.0,
 20.0,
 14.5,
 6.0,
 3.0,
 1.0,
 5.0,
 5.0,
 9.0,
 11.0,
 15.0,
 20.0,
 20.0,
 16.0,
 14.0,
 7.0,
 5.0,
 2.5,
 4.0,
 6.5,
 9.0,
 12.0,
 16.0,
 22.0,
 22.0,
 17.0,
 16.5,
 5.0,
 2.5,
 2.5,
 3.0,
 3.0,
 7.0,
 10.0,
 13.0,
 18.0,
 20.0,
 21.0,
 11.0,
 7.0,
 3.0,
 4.5,
 5.5,
 5.0,
 7.0,
 8.5,
 13.5,
 20.0,
 23.0,
 20.0,
 12.5,
 7.5,
 1.0,
 4.5,
 2.0,
 5.5,
 10.0,
 12.5,
 17.0,
 20.5,
 22.0,
 20.0,
 13.5,
 7.0,
 4.5,
 6.0,
 5.0,
 7.5,
 9.0,
 11.0,
 15.0,
 22.0,
 22.0,
 18.0,
 13.0,
 7.5,
 5.5,
 1.5,
 4.5,
 6.5,
 8.5,
 10.5,
 18.5,
 22.0,
 23.0,
 20.0,
 15.0,
 10.0,
 4.0,
 3.0,
 5.0,
 5.0,
 7.5,
 10.5,
 15.0,
 22.0,
 21.0,
 21.0,
 12.5,
 11.0,
 1.0,
 2.5,
 3.5,
 6.0,
 8.5,
 11.0,
 18.0,
 21.0,
 21.0,
 20.0,
 13.0,
 11.0,
 5.0,
 4.0,
 6.0,
 7.0,
 8.0,
 11.0,
 17.0,
 22.0,
 23.0,
 19.0,
 9.0,
 11.0,
 4.5,
 5.5,
 5.5,
 6.0,
 9.0,
 9.0,
 17.0,
 21.0,
 22.0,
 21.5,
 12.0,
 6.0,
 5.0,
 4.0,
 -2.5,
 4.0,
 9.0,
 10.0,
 14.0,
 19.0,
 21.5,
 22.0,
 12.0,
 7.0,
 2.0]

In [28]:
#9
#DTR: El promedio mensual de la diferencia de temperaturas (Tmax-Tmin). 
#Crearemos una columna de diferencia de temperaturas en el Data Frame
df['DIFTEMP']=df['TMAX']-df['TMIN']
df.head()

   PRECIP  EVAP  TMAX  TMIN     FECHAN  MES   AÑO  TEMPPROM  DIFTEMP
0     0.0   1.2  25.0   7.0 1980-01-01    1  1980      16.0     18.0
1     0.0   1.7  22.0   8.0 1980-01-02    1  1980      15.0     14.0
2     0.0   1.9  25.0   9.0 1980-01-03    1  1980      17.0     16.0
3     0.0   1.8  26.0   6.0 1980-01-04    1  1980      16.0     20.0
4     0.0   2.0  26.0   4.0 1980-01-05    1  1980      15.0     22.0

In [29]:
#9
#Al igual que los procedimientos anteriores, calcularemos el promedio de dicha columna para cada mes de cada año
DTR=[]
inicial=df['AÑO'][0]
nAños=df['AÑO'].nunique()


for i in range(0,nAños):
        daño = df[df['AÑO']==inicial]
        for j in range (1,13):
                dmes = daño[daño['MES']==j]
                DifTmean = dmes.DIFTEMP.mean()
                DTR.append(DifTmean)
    
        inicial=inicial+1

In [30]:
DTR

[15.935483870967742,
 16.103448275862068,
 16.483870967741936,
 19.433333333333334,
 18.70967741935484,
 12.566666666666666,
 10.903225806451612,
 10.064516129032258,
 11.433333333333334,
 14.983870967741936,
 18.8,
 17.677419354838708,
 12.35483870967742,
 17.678571428571427,
 17.06451612903226,
 18.4,
 16.451612903225808,
 11.666666666666666,
 10.193548387096774,
 12.35483870967742,
 12.033333333333333,
 14.580645161290322,
 19.266666666666666,
 19.032258064516128,
 16.29032258064516,
 18.535714285714285,
 19.161290322580644,
 21.3,
 18.64516129032258,
 16.6,
 11.483870967741936,
 12.67741935483871,
 14.766666666666667,
 19.64516129032258,
 16.033333333333335,
 14.096774193548388,
 16.096774193548388,
 18.107142857142858,
 18.774193548387096,
 20.5,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 16.774193548387096,
 20.103448275862068,
 21.419354838709676,
 nan,
 nan,
 12.4,
 11.64516129032258,
 11.258064516129032,
 13.933333333333334,
 14.580645161290322,
 nan,
 14.35483870967742,
 14.96774193548387,
 17.428571428571427,
 18.612903225806452,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 18.580645161290324,
 17.7,
 19.096774193548388,
 20.096774193548388,
 18.428571428571427,
 20.225806451612904,
 21.266666666666666,
 nan,
 nan,
 11.64516129032258,
 nan,
 12.633333333333333,
 16.903225806451612,
 17.466666666666665,
 nan,
 19.35483870967742,
 nan,
 20.35483870967742,
 20.5,
 18.419354838709676,
 18.033333333333335,
 nan,
 14.161290322580646,
 15.5,
 nan,
 nan,
 19.516129032258064,
 20.06451612903226,
 19.833333333333332,
 22.677419354838708,
 22.116666666666667,
 20.451612903225808,
 nan,
 nan,
 13.435483870967742,
 15.6,
 19.967741935483872,
 21.633333333333333,
 19.322580645161292,
 17.64516129032258,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 19.387096774193548,
 19.678571428571427,
 21.29032258064516,
 22.866666666666667,
 21.70967741935484,
 14.833333333333334,
 10.870967741935484,
 13.96774193548387,
 13.2,
 17.677419354838708,
 18.833333333333332,
 16.870967741935484,
 17.774193548387096,
 19.285714285714285,
 18.612903225806452,
 22.766666666666666,
 20.612903225806452,
 18.733333333333334,
 12.32258064516129,
 14.064516129032258,
 14.1,
 17.032258064516128,
 18.833333333333332,
 13.838709677419354,
 14.193548387096774,
 15.862068965517242,
 18.483870967741936,
 21.466666666666665,
 19.161290322580644,
 17.3,
 12.483333333333333,
 12.433333333333334,
 13.551724137931034,
 18.166666666666668,
 19.24137931034483,
 14.35483870967742,
 13.67741935483871,
 15.285714285714286,
 18.866666666666667,
 22.3,
 16.919354838709676,
 16.866666666666667,
 12.016129032258064,
 12.225806451612904,
 14.233333333333333,
 16.14516129032258,
 14.6,
 15.451612903225806,
 18.483870967741936,
 19.966666666666665,
 20.14516129032258,
 23.466666666666665,
 24.532258064516128,
 17.016666666666666,
 16.951612903225808,
 14.85483870967742,
 16.116666666666667,
 18.112903225806452,
 18.733333333333334,
 14.241935483870968,
 17.096774193548388,
 17.928571428571427,
 19.919354838709676,
 23.15,
 21.838709677419356,
 20.6,
 17.20967741935484,
 17.177419354838708,
 17.733333333333334,
 22.419354838709676,
 21.4,
 19.096774193548388,
 21.79032258064516,
 19.913793103448278,
 21.43548387096774,
 22.24137931034483,
 21.951612903225808,
 18.05,
 14.716666666666667,
 13.46774193548387,
 13.416666666666666,
 14.983870967741936,
 16.366666666666667,
 13.887096774193548,
 15.483870967741936,
 17.5,
 20.387096774193548,
 18.45,
 21.129032258064516,
 17.766666666666666,
 15.725806451612904,
 13.870967741935484,
 12.75,
 12.209677419354838,
 14.3,
 15.612903225806452,
 18.870967741935484,
 18.285714285714285,
 19.20967741935484,
 20.666666666666668,
 21.85483870967742,
 19.65,
 15.193548387096774,
 13.693548387096774,
 14.216666666666667,
 13.935483870967742,
 16.65,
 18.258064516129032,
 20.032258064516128,
 21.0,
 22.629032258064516,
 21.916666666666668,
 22.806451612903224,
 21.166666666666668,
 14.935483870967742,
 14.951612903225806,
 14.683333333333334,
 17.887096774193548,
 21.3,
 19.951612903225808,
 20.741935483870968,
 20.93103448275862,
 21.661290322580644,
 22.666666666666668,
 22.79032258064516,
 19.9,
 17.483870967741936,
 17.661290322580644,
 18.45,
 13.67741935483871,
 17.25,
 20.35483870967742,
 18.951612903225808,
 19.571428571428573,
 19.838709677419356,
 21.316666666666666,
 22.35483870967742,
 19.566666666666666,
 15.564516129032258,
 15.048387096774194,
 14.516666666666667,
 16.35483870967742,
 18.116666666666667,
 19.06451612903226,
 21.403225806451612,
 20.678571428571427,
 22.467741935483872,
 21.266666666666666,
 23.322580645161292,
 19.724137931034484,
 17.161290322580644,
 13.709677419354838,
 14.883333333333333,
 17.387096774193548,
 19.95,
 18.15,
 20.741935483870968,
 16.107142857142858,
 20.79032258064516,
 21.933333333333334,
 23.467741935483872,
 20.783333333333335,
 15.548387096774194,
 14.064516129032258,
 13.883333333333333,
 16.725806451612904,
 19.25,
 20.967741935483872,
 17.403225806451612,
 18.189655172413794,
 22.322580645161292,
 20.05,
 22.580645161290324,
 19.133333333333333,
 15.725806451612904,
 14.758064516129032,
 12.95,
 14.209677419354838,
 17.533333333333335,
 16.951612903225808,
 15.435483870967742,
 15.839285714285714,
 19.79032258064516,
 21.25,
 20.370967741935484,
 17.433333333333334,
 14.387096774193548,
 14.661290322580646,
 14.95,
 16.403225806451612,
 20.766666666666666,
 19.483870967741936,
 20.580645161290324,
 20.535714285714285,
 20.596774193548388,
 22.35,
 22.274193548387096,
 19.016666666666666,
 15.903225806451612,
 14.016129032258064,
 13.6,
 15.274193548387096,
 20.516666666666666,
 17.274193548387096,
 17.258064516129032,
 19.803571428571427,
 21.532258064516128,
 21.883333333333333,
 22.35483870967742,
 19.716666666666665,
 15.741935483870968,
 15.403225806451612,
 12.883333333333333,
 20.483870967741936,
 20.783333333333335,
 15.241935483870968,
 18.451612903225808,
 20.413793103448278,
 21.677419354838708,
 23.516666666666666,
 21.56451612903226,
 16.75,
 14.306451612903226,
 13.483870967741936,
 13.316666666666666,
 18.29032258064516,
 17.95,
 16.467741935483872,
 17.274193548387096,
 21.5,
 21.35483870967742,
 23.366666666666667,
 21.29032258064516,
 19.476666666666667,
 14.516129032258064,
 14.209677419354838,
 14.95,
 13.161290322580646,
 17.616666666666667,
 15.096774193548388,
 18.919354838709676,
 18.892857142857142,
 20.85483870967742,
 20.466666666666665,
 22.822580645161292,
 17.883333333333333,
 14.35483870967742,
 14.161290322580646,
 13.3,
 15.838709677419354,
 19.1,
 19.419354838709676,
 19.14516129032258,
 21.660714285714285,
 22.774193548387096,
 21.383333333333333,
 22.93548387096774,
 20.466666666666665,
 15.193548387096774,
 13.5,
 14.533333333333333,
 17.870967741935484,
 17.25,
 17.467741935483872]

In [76]:
#10
#Rx1day: Precipitación diaria máxima mensual en 1 día.
Rx1day = []
inicial=df['AÑO'][0]
nAños=df['AÑO'].nunique()

for i in range(0,nAños):
    daño = df[df['AÑO']==inicial]
    for j in range(1,13):
        dmes = daño[daño['MES']==j]
        if(dmes.PRECIP.count()!=0 and dmes.PRECIP.mean()!=0):
            pmaxid = dmes['PRECIP'].idxmax()
            pmax = dmes['PRECIP'][pmaxid]
            Rx1day.append(pmax)
        else:
            Rx1day.append(0.0)
        
    inicial=inicial+1
Rx1day

[0.0,
 2.0,
 0.0,
 0.0,
 0.0,
 0.0,
 6.0,
 42.0,
 7.5,
 4.0,
 1.5,
 2.0,
 80.0,
 1.0,
 14.0,
 15.0,
 13.5,
 0.0,
 35.5,
 42.0,
 87.0,
 1.0,
 1.0,
 0.0,
 3.5,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 22.0,
 12.0,
 7.0,
 0.0,
 20.0,
 44.0,
 20.0,
 20.0,
 8.0,
 3.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 19.0,
 2.0,
 0.0,
 0.0,
 0.0,
 6.5,
 103.0,
 54.0,
 8.0,
 12.0,
 0.0,
 35.0,
 40.0,
 5.1,
 7.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 13.0,
 20.0,
 0.0,
 0.0,
 2.0,
 0.0,
 0.0,
 0.0,
 0.0,
 24.0,
 0.0,
 42.0,
 5.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 33.0,
 13.0,
 0.0,
 0.0,
 4.0,
 0.0,
 0.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 13.0,
 41.0,
 0.0,
 0.0,
 30.0,
 9.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 8.0,
 6.0,
 2.0,
 0.0,
 0.0,
 8.0,
 35.0,
 20.0,
 73.0,
 11.0,
 32.0,
 5.1,
 2.0,
 7.0,
 0.0,
 0.0,
 0.0,
 0.0,
 11.0,
 26.0,
 100.0,
 0.0,
 10.0,
 50.0,
 40.0,
 26.0,
 11.0,
 0.0,
 0.0,
 0.0,
 7.4,
 33.0,
 43.0,
 0.0,
 3.0,
 8.0,
 25.0,
 20.0,
 0.0,
 0.0,
 3.0,
 3.0,
 3.0,
 22.0,
 88.0,
 18.0,
 21.5,
 2.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 19.0,
 32.0,
 35.0,
 5.5,
 17.0,
 35.5,
 4.0,
 7.0,
 0.0,
 0.0,
 0.0,
 0.0,
 7.0,
 15.0,
 79.0,
 0.0,
 4.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 90.0,
 55.0,
 0.0,
 0.0,
 10.0,
 0.0,
 7.0,
 3.0,
 0.0,
 4.0,
 0.0,
 4.0,
 8.0,
 115.0,
 35.0,
 55.0,
 15.0,
 12.0,
 0.0,
 5.0,
 0.0,
 0.0,
 0.0,
 22.0,
 1.5,
 20.0,
 20.0,
 20.0,
 0.0,
 0.0,
 0.0,
 0.0,
 2.0,
 0.0,
 0.0,
 0.0,
 80.0,
 20.0,
 2.0,
 6.0,
 0.0,
 0.0,
 0.0,
 0.0,
 5.0,
 0.0,
 0.0,
 3.0,
 24.5,
 45.3,
 33.5,
 66.3,
 2.5,
 0.5,
 0.5,
 3.0,
 0.0,
 0.0,
 0.0,
 0.5,
 63.3,
 32.0,
 136.4,
 7.5,
 1.5,
 0.0,
 0.5,
 9.0,
 0.0,
 0.0,
 0.0,
 0.0,
 16.5,
 20.5,
 11.0,
 1.0,
 2.5,
 8.5,
 0.7,
 21.0,
 0.0,
 9.0,
 0.0,
 0.0,
 39.5,
 41.0,
 57.0,
 3.0,
 1.3,
 0.0,
 82.0,
 12.0,
 13.5,
 5.8,
 0.0,
 0.0,
 9.5,
 32.5,
 146.0,
 38.5,
 13.7,
 2.9,
 41.5,
 38.1,
 0.0,
 0.0,
 1.2,
 0.0,
 18.5,
 20.0,
 2.0,
 2.5,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 45.0,
 33.0,
 50.8,
 25.4,
 0.0,
 2.5,
 12.7,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 33.5,
 7.6,
 184.5,
 0.0,
 20.3,
 22.8,
 5.3,
 0.0,
 2.5,
 0.0,
 0.0,
 3.0,
 16.0,
 56.8,
 55.8,
 10.0,
 1.3,
 0.5,
 2.0,
 0.0,
 0.0,
 0.0,
 0.0,
 30.5,
 45.7,
 59.7,
 26.5,
 68.0,
 3.5,
 0.5,
 25.5,
 10.1,
 0.0,
 0.0,
 0.0,
 0.0,
 74.8,
 5.0,
 33.5,
 0.0,
 0.0,
 0.0,
 2.5,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 9.0,
 46.0,
 0.5,
 0.0,
 40.0,
 7.3]

In [33]:
#11
#Rx5 day: Precipitación diaria máxima mensual en 5 días consecutivos. 
Rx5day = []
mx = -10000

inicial=df['AÑO'][0]
nAños=df['AÑO'].nunique()

for i in range(0,nAños):
    daño = df[df['AÑO']==inicial]
    for j in range(1,13):
        dmes = daño[daño['MES']==j]
        dmes = dmes.reset_index()
        if(dmes.PRECIP.count()!=0 and dmes.PRECIP.mean()!=0):
            for k in range(4,len(dmes)):
                suma5 = (dmes["PRECIP"][k-4]+dmes["PRECIP"][k-3]+
                         dmes["PRECIP"][k-2]+dmes["PRECIP"][k-1]+
                         dmes["PRECIP"][k])
               
                if(suma5>mx):
                    mx=suma5
            
            Rx5day.append(mx)
            mx=-10000
        else:
            Rx5day.append(0.0)
        
    inicial=inicial+1
Rx5day

[0.0,
 2.0,
 0.0,
 0.0,
 0.0,
 0.0,
 7.5,
 62.0,
 17.0,
 7.5,
 1.5,
 2.0,
 101.0,
 1.0,
 14.0,
 22.0,
 13.5,
 0.0,
 43.0,
 42.0,
 118.5,
 1.0,
 1.0,
 0.0,
 6.5,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 24.0,
 18.0,
 8.5,
 0.0,
 35.0,
 49.5,
 22.0,
 20.0,
 14.5,
 3.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 25.0,
 2.0,
 0.0,
 0.0,
 0.0,
 7.5,
 160.0,
 103.0,
 9.0,
 17.0,
 0.0,
 57.0,
 57.0,
 5.5,
 7.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 14.0,
 20.0,
 0.0,
 0.0,
 2.0,
 0.0,
 0.0,
 0.0,
 0.0,
 24.0,
 0.0,
 44.0,
 5.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 63.0,
 18.0,
 0.0,
 0.0,
 6.0,
 0.0,
 0.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 24.0,
 41.0,
 0.0,
 0.0,
 34.0,
 14.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 8.0,
 9.0,
 2.0,
 0.0,
 0.0,
 8.0,
 61.0,
 34.0,
 75.0,
 13.0,
 35.0,
 6.8999999999999995,
 2.0,
 8.0,
 0.0,
 0.0,
 0.0,
 0.0,
 11.0,
 37.0,
 164.0,
 0.0,
 15.0,
 53.0,
 67.0,
 29.0,
 12.0,
 0.0,
 0.0,
 0.0,
 7.4,
 52.0,
 89.0,
 0.0,
 3.0,
 8.0,
 27.0,
 20.0,
 0.0,
 0.0,
 3.0,
 4.0,
 3.0,
 46.0,
 90.0,
 18.0,
 28.0,
 3.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 19.0,
 37.0,
 35.0,
 5.5,
 30.0,
 61.0,
 4.0,
 13.0,
 0.0,
 0.0,
 0.0,
 0.0,
 7.0,
 28.0,
 163.0,
 0.0,
 7.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 90.0,
 73.0,
 0.0,
 0.0,
 16.0,
 0.0,
 7.0,
 3.0,
 0.0,
 6.0,
 0.0,
 4.0,
 8.0,
 115.0,
 45.0,
 70.0,
 19.0,
 24.0,
 0.0,
 6.0,
 0.0,
 0.0,
 0.0,
 22.0,
 1.5,
 24.5,
 42.0,
 20.0,
 0.0,
 0.0,
 0.0,
 0.0,
 2.0,
 0.0,
 0.0,
 0.0,
 113.0,
 45.0,
 2.0,
 6.0,
 0.0,
 0.0,
 0.0,
 0.0,
 5.0,
 0.0,
 0.0,
 3.0,
 26.0,
 65.3,
 37.0,
 77.8,
 2.5,
 0.5,
 0.5,
 4.5,
 0.0,
 0.0,
 0.0,
 0.5,
 92.3,
 54.8,
 239.4,
 10.7,
 1.5,
 0.0,
 0.5,
 17.0,
 0.0,
 0.0,
 0.0,
 0.0,
 52.2,
 37.5,
 20.5,
 1.0,
 2.9,
 8.5,
 1.1,
 21.0,
 0.0,
 9.0,
 0.0,
 0.0,
 41.0,
 71.0,
 64.5,
 3.0,
 1.3,
 0.0,
 150.0,
 21.0,
 13.5,
 5.8,
 0.0,
 0.0,
 13.8,
 32.5,
 172.7,
 47.2,
 13.7,
 5.6,
 70.80000000000001,
 38.1,
 0.0,
 0.0,
 1.2,
 0.0,
 36.5,
 27.0,
 3.5,
 2.5,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 64.0,
 35.5,
 90.3,
 33.0,
 0.0,
 2.5,
 15.8,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 64.0,
 7.6,
 195.8,
 0.0,
 23.8,
 38.0,
 5.8,
 0.0,
 2.5,
 0.0,
 0.0,
 3.0,
 29.8,
 87.2,
 69.8,
 10.0,
 1.3,
 0.5,
 2.0,
 0.0,
 0.0,
 0.0,
 0.0,
 30.5,
 78.7,
 59.7,
 40.599999999999994,
 161.4,
 6.8,
 0.5,
 25.5,
 12.899999999999999,
 0.0,
 0.0,
 0.0,
 0.0,
 77.7,
 5.4,
 73.0,
 0.0,
 0.0,
 0.0,
 2.5,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 15.0,
 62.0,
 0.5,
 0.0,
 44.0,
 7.3]

In [34]:
#Ejercicio 11 prueba a pie


precip5=[]
precip5_tot=[]
inicial=1980
j=8
daño=df[df['AÑO']==inicial]
dmes = daño[daño['MES']==j]
dmes=dmes.reset_index()       
precip5.append(inicial)
precip5.append(j)
if(dmes.PRECIP.count()!=0 and dmes.PRECIP.mean()!=0):
    for k in range(4,len(dmes.index)): 
        suma5 = (dmes["PRECIP"][k-4] + dmes["PRECIP"][k-3] + dmes["PRECIP"][k-2] + 
                 dmes["PRECIP"][k-1] + dmes["PRECIP"][k])
        precip5.append(suma5)
    precip5_tot.append(precip5)
else:
    precip5_tot.append(0.0)
precip5_tot

[[1980,
  8,
  0.0,
  0.0,
  12.0,
  12.0,
  12.0,
  12.0,
  15.0,
  29.0,
  34.0,
  34.0,
  34.0,
  31.0,
  47.0,
  61.0,
  61.0,
  61.0,
  62.0,
  20.0,
  1.0,
  1.0,
  21.0,
  20.0,
  20.0,
  20.0,
  20.0,
  0.0,
  0.0]]

In [35]:
#12
#SDII: Número de días en un año con precipitación mayor igual a 1mm. 

#Tomar temperaturas PRECIP mayores a 1
SDII = df[df['PRECIP']>1]

#Agrupar por año y contar datos 
SDII = pd.DataFrame(SDII.groupby('AÑO').count())

#Definir data frame y tomar PRECIP 
SDII_df = SDII.filter(['PRECIP'],axis=1)
SDII_df['NUM PRECIP1'] = SDII_df['PRECIP']
SDII_df = SDII_df.drop(['PRECIP'],1)

#Sacar años del índice
SDII_df= SDII_df.reset_index()
SDII_df.head()

    AÑO  NUM PRECIP1
0  1980           20
1  1981           20
2  1982           24
3  1983            8
4  1984           35

In [36]:
#13
#R10mm: Número de días en el año con precipitación diaria mayor igual a 10 mm

#Tomar temperaturas PRECIP mayores a 10mm
R10mm = df[df['PRECIP']>10]

#Agrupar por año y contar datos 
R10mm = pd.DataFrame(R10mm.groupby('AÑO').count())

#Definir data frame y tomar PRECIP 
R10mm_df = R10mm.filter(['PRECIP'],axis=1)
R10mm_df['NUM PRECIP10'] = R10mm_df['PRECIP']
R10mm_df = R10mm_df.drop(['PRECIP'],1)

#Sacar años del índice
R10mm_df= R10mm_df.reset_index()
R10mm_df.head()

    AÑO  NUM PRECIP10
0  1980             5
1  1981            14
2  1982             7
3  1983             4
4  1984            12

In [77]:
#14
#R20mm: Número de días en el año con precipitación diaria mayor igual a 20mm.

#Tomar temperaturas PRECIP mayores a 20mm
R20mm = df[df['PRECIP']>20]

#Agrupar por año y contar datos 
R20mm = pd.DataFrame(R20mm.groupby('AÑO').count())

#Definir data frame y tomar PRECIP 
R20mm_df = R20mm.filter(['PRECIP'],axis=1)
R20mm_df['NUM PRECIP20'] = R20mm_df['PRECIP']
R20mm_df = R20mm_df.drop(['PRECIP'],1)

#Sacar años del índice
R20mm_df= R20mm_df.reset_index()
R20mm_df.head()

    AÑO  NUM PRECIP20
0  1980             2
1  1981             7
2  1982             2
3  1984             8
4  1985             1

In [71]:
#15
#CDD: Número de días consecutivos secos, sin precipitación o precipitación < 1mm.
CDD_año = []
CDD = []
dias = 0

inicial=df['AÑO'][0]
nAños=df['AÑO'].nunique()

for i in range(0,nAños):
    daño = df[df['AÑO']==inicial]
    daño = daño.reset_index()
    for k in range(0,len(daño)):
        if(daño['PRECIP'][k]<1):
            dias = dias +1
        else:
            CDD_año.append(dias)
            dias=0
    CDD_max=max(CDD_año)
    CDD_año = []
    CDD.append(CDD_max)
    inicial=inicial+1
CDD

[140,
 60,
 103,
 33,
 76,
 47,
 87,
 206,
 92,
 22,
 110,
 122,
 101,
 72,
 202,
 141,
 238,
 50,
 112,
 156,
 141,
 141,
 156,
 103,
 94,
 103,
 211,
 155,
 103,
 146,
 130,
 154]

In [74]:
#16
#CWD: Número de días consecutivos húmedos, con precipitación igual o mayor a 1mm. 
CWD_año = []
CWD = []
dias = 0

inicial=df['AÑO'][0]
nAños=df['AÑO'].nunique()

for i in range(0,nAños):
    daño = df[df['AÑO']==inicial]
    daño = daño.reset_index()
    for k in range(0,len(daño)):
        if(daño['PRECIP'][k]>=1):
            dias = dias +1
        else:
            CWD_año.append(dias)
            dias=0
    CWD_max=max(CWD_año)
    CWD_año = []
    CWD.append(CWD_max)
    inicial=inicial+1
CWD

[3,
 3,
 3,
 2,
 3,
 3,
 2,
 2,
 4,
 4,
 3,
 3,
 3,
 2,
 3,
 3,
 3,
 3,
 3,
 2,
 4,
 4,
 5,
 5,
 3,
 4,
 3,
 3,
 4,
 4,
 3,
 4]

In [75]:
#Para crear un data frame a partir de array y trasponerlo

from numpy import matrix

array=([])

n1=[1,2,3]
array.append(n1)
n2=[4,5,6]
array.append(n2)
n3=[7,8,9]
array.append(n3)

marray=matrix(array)
arrayt=marray.T
c = ['a','b','c']


prueba = pd.DataFrame(columns=c,data=arrayt)
p2 = prueba['a']

prueba.head()

   a  b  c
0  1  4  7
1  2  5  8
2  3  6  9

In [ ]:
#Algorimo para boxplot
df = df.filter(['TMAX','MES'],axis=1)
df2=df.pivot(columns='MES',values='TMAX')
df2.boxplot()